#header{
	
	 background: -webkit-linear-gradient(left, #59ADEB, #34CE93); 
	 height:10%;
	 width:100%;
	
	 }
.center {
	position:fixed;
    left: 34%;
    width: 14%;
   /* border:3px solid #8AC007;*/
    padding: 1%;
}
.center2 {
    position:fixed;
	left: 50%;
    width: 14%;
    /*border:3px solid blue;*/
    padding: 1%;
}
body{
	margin:0;	
}